$text-color: white;
$icon-font: purple;
$icon-size: 50px;

body {
  background-color: #6C7A89;
  font-family: sans serif;
}

.page-header {
  color: $text-color;
  font-family: open-sans;
  border-bottom: none;
}

.main-output {
  margin-top: 40px;
  box-shadow:  10px 10px 10px;
  color: $text-color;
}

.well {
  background-color: #F39C12;
}

#weather-description {
  color: $text-color;
  font-size: $icon-size;
  text-transform: capitalize;
}

.icons {
  font-size: 60px;
  color: purple;
}

input {
  max-width: 50%;
  margin: auto;
}

a:link {
  text-decoration: none;
  color: white;
}